body {
    padding-top: 70px;
    background-color: #FFFFFF;
    height: 100%;
}

#mainNavbar {
    background-color: #fff;
}

#logoLink {
    padding: 0;
    padding-left: 5px;
    outline: none;
}

#hang {
    margin-left: 50px;
}

#hang li {
    padding-top: 5px;
}


.custNavLink {
    color: #107896 !important;
    text-transform: uppercase;
    font-weight: bold;
}

    .custNavLink:hover {
        color: #11a82b !important;
    }

.alert.alert-danger:empty {
    display: none;
}

.required:after {
    content: " *";
    color: red;
}

.z-depth-1 {
    box-shadow: 0 1px 4px 0 #107896;
}

#map {
    height: 100%;
}


/* Login Style */
#userNameContainer, #emailNameContainer, #passwordContainer {
    margin-bottom: 10px;
}

#rememberMeContainer {
    margin-bottom: 10px;
}

#RememberMe {
    margin-right: 5px;
}
/* Login Style End */
