body {
    padding-top: 70px;
    background-color: #FFFFFF;
    height: 100%;
    font-family:Calibri,"Times New Roman","Arial Narrow";
}

#mainNavbar {
    background-color: #fff;
}

#logoLink {
    padding: 0;
    padding-left: 5px;
    outline: none;
}

#navOnLeft {
    margin-left: 50px;
    font-size: 1.5em;
}

#navOnRight {
    margin-left: 2px;
    margin-right: 2px;
}

    #navOnLeft li, #navOnRight li {
        padding-top: 5px;
    }


.custNavLink {
    color: #107896 !important;
    text-transform: uppercase;
    font-weight: bold;
}

    .custNavLink:hover {
        color: #11a82b !important;
    }

.panelHeadingOdd {
    background-color: #107896 !important;
    color: #ffd800 !important;
}

.panelHeadingEven {
    background-color: #ffd800 !important;
}

.infoDescription {
    font-weight: 800;
}

.field-validation-error {
    color: red;
}

.alert.alert-danger:empty {
    display: none;
}

.required:after {
    content: " *";
    color: red;
}

.z-depth-1 {
    box-shadow: 0 1px 4px 0 #107896;
}

#map {
    height: 100%;
}


/* Login and Registration Style */
.authField {
    margin-bottom: 10px;
}

#rememberMeContainer {
    margin-bottom: 10px;
}

#RememberMe {
    margin-right: 5px;
}
/* Login and Registratio Style End */
