@model MeetUpEventEditViewModel

@{
    ViewBag.Title = "Create Event";
}
<div class="container-fluid">
    <div class="page-header">
        <h1>Create Event</h1>
    </div>
</div>
@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div class="form-group  col-md-6 col-sm-12">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group  col-md-3 col-sm-6">
            <label asp-for="Type"></label>
            <input asp-for="Type" class="form-control" />
            <span asp-validation-for="Type"></span>
        </div>
        <div class="form-group col-md-3 col-sm-6">
            <label asp-for="Host"></label>
            <input asp-for="Host" class="form-control" />
            <span asp-validation-for="Host"></span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="form-group col-md-2 col-sm-4">
            <label asp-for="StartDateAndTime"></label>
            <input asp-for="StartDateAndTime" class="form-control" type="datetime-local" />
            <span asp-validation-for="StartDateAndTime"></span>
        </div>
        <div class="form-group col-md-2 col-sm-4">
            <label asp-for="EndDateAndTime"></label>
            <input asp-for="EndDateAndTime" class="form-control" type="datetime-local" />
            <span asp-validation-for="EndDateAndTime"></span>
        </div>
        <div class="form-group col-md-8 col-sm-12">
            <label asp-for="GuestList"></label>
            <input asp-for="GuestList" class="form-control" />
            <span asp-validation-for="GuestList"></span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="form-group col-md-6">
            <label asp-for="Location"></label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Message"></label>
            <textarea asp-for="Message" class="form-control"></textarea>
            <span asp-validation-for="Message"></span>
        </div>
    </div>
        <div class="container-fluid">
            <div class="form-group col-sm-12">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
}

@section LocationAPI {
    <script src="~/JS/LocationAutocomplete.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWgTpDD37x-LjwevZcfORiPX0Xapmc_eM&libraries=places&callback=initAutocomplete" async defer></script>
}
