@model MeetUpEventPlanner.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home";
}

<div class="page-header"><h1>Events List</h1></div>

@foreach (var meetUpEvent in Model.MeetUpEvents)
{
    @Html.Partial("_Summary", meetUpEvent)
}
