@model MeetUpEventPlanner.ViewModels.HomePageViewModel
@{ 
    ViewBag.Title = "Home";
}

<h1>Events List <a class="btn btn-success" asp-action="Create">Add Event</a></h1>

@foreach(var meetUpEvent in Model.MeetUpEvents)
{
    @Html.Partial("_Summary", meetUpEvent)
}
