@using System.Security.Claims
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/style/stylesheet.css" rel="stylesheet" />
</head>
<body>
    <nav id="mainNavbar" class="navbar navbar-default navbar-fixed-top z-depth-1" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index" id="logoLink">
                    <img src="~/images/logo.png" />
                </a>

            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" id="hang">
                    <li><a asp-controller="Home" asp-action="Create" class="custNavLink">Create New Event</a></li>
                </ul>
                <div class="navbar navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form method="post" asp-controller="Account" asp-action="Logout"
                              class="navbar-form">
                            Hi, @User.Identity.Name
                            <input type="submit" value="Logout" class="btn btn-danger" />
                        </form>
                    }
                    else
                    {
                        <a class="btn btn-primary btn-xs navbar-btn" asp-controller="Account" asp-action="Login">Sign In</a>
                    }
                </div>
            </div>
        </div>
    </nav>

    <main class="container" id="mainContainer">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>

